/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Wrappers
.white-wrapper {
  background: white;
  padding: 20px 0;
}

.gray-wrapper {
  background-color: rgba(0,0,0,0.03);
  padding: 20px 0;
}

.border-top {
  border-top: 1px solid $gray-lighter;
}
